<%= render partial: "shared/header" %>
<div class="jumbotron jumbotron-fluid jumbotron-dash" style="background-color: #eed7c5;">
  <div class="container text-center">
    <h1 class="display-4"><%=@user.first_name%>'s Dashboard</h1>
  </div>
</div>
  <div class="container-fluid" style="background-color: #eed7c5;">
  <div class="row">
    <div class="col">
      <h3> In Progress </h3>
      <ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Built</div>
      Content for list item
    </div>
    <span class="badge bg-primary rounded-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Trimmed</div>
      Content for list item
    </div>
    <span class="badge bg-primary rounded-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Bisque</div>
      Content for list item
    </div>
    <span class="badge bg-primary rounded-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Glazed</div>
      Content for list item
    </div>
    <span class="badge bg-primary rounded-pill">14</span>
  </li>
</ol>
    </div>
    <div class="col">
      Finished Pieces
    </div>
  </div>
</div>





<%= render partial: "shared/footer" %>