  <footer class="text-center text-lg-start text-white" style="background-color: #b36a5e; margin-top: 100px;">
      <hr class="mb-4" />
      <section class="mb-4 text-center">
    <a href="https://www.facebook.com/GatherStudio"><i class="fa fa-brands fa-facebook fa-2xl m-1" style="color: white;"></i></a>
    <a href = "mailto: gatherstudio@optimum.net"><i class="fa fa-solid fa-envelope fa-2xl m-1" style="color: white;"></i></a>
    <a href="https://www.instagram.com/gather_studio/"><i class="fa fa-brands fa-instagram fa-2xl m-1" style="color: white;"></i></i></a>
      </section>
    </div>
    <div class="text-right p-3" style="background-color: rgba(0, 0, 0, 0.2)">
       Designed with <i class="fa-regular fa-heart"></i> by Jenn | <a class="text-white" href="https://www.linkedin.com/in/jenniferlhalloran/"><i class="fa-brands fa-linkedin-in"></i></a> | <a href="https://www.linkedin.com/in/jenniferlhalloran/" style="color: white;" ><i class="fa-brands fa-github"></i></a>
    </div>
  </footer>
