<footer class="text-center text-lg-start text-white" style="background-color: #b36a5e; margin-top: 100px;">
  <div class="container p-4">
    <div class="row mt-4">
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="mb-4">ABOUT GATHER</h5>
        <p>
          Our doors are open to everyone with an interest in clay and ceramics. We offer learning opportunities for those wishing to develop and improve skills; and use of studio space and equipment for independent makers.
        </p>
        <p>
          We would love to have you visit soon. No need to call ahead, just come on by!
        </p>
      </div>
     <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
      <section class="mb-4 text-center">
        <a href="https://www.facebook.com/GatherStudio"><i class="fa fa-brands fa-facebook fa-2xl m-1" style="color: white;"></i></a>
        <a href = "mailto: gatherstudio@optimum.net"><i class="fa fa-solid fa-envelope fa-2xl m-1" style="color: white;"></i></a>
        <a href="https://www.instagram.com/gather_studio/"><i class="fa fa-brands fa-instagram fa-2xl m-1" style="color: white;"></i></i></a>
      </section>
      <ul class="fa-ul" style="margin-left: 1.65em;">
        <li class="mb-3">
          <i class="fas fa-home m-2"></i><span class="ms-2">83 E. Main Street - Suit 5 <br> Patchogue, N.Y 11772</span>
        </li>
        <li class="mb-3">
          <i class="fas fa-envelope m-2"></i><span class="ms-2">gatherstudio@optimum.net</span>
        </li>
        <li class="mb-3">
          <i class="fas fa-phone m-2"></i><span class="ms-2">+ 1 631 654 1351</span>
        </li>
      </ul>
    </div>

    <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
      <h5 class="text-uppercase mb-4">Opening Hours</h5>
      <table class="table text-center text-white">
        <tbody class="fw-normal">
          <tr>
            <td>Sun - Mon:</td>
            <td>Closed</td>
          </tr>
          <tr>
            <td>Wed:</td>
            <td>1pm - 8pm</td>
          </tr>
          <tr>
            <td>Thur - Fri:</td>
            <td>12 pm - 8pm</td>
          </tr>
          <tr>
            <td>Sat:</td>
            <td>11am - 5pm</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      Designed with <i class="fa-regular fa-heart"></i> by Jenn | <a class="text-white" href="https://www.linkedin.com/in/jenniferlhalloran/"><i class="fa-brands fa-linkedin-in"></i></a> | <a href="https://www.linkedin.com/in/jenniferlhalloran/" style="color: white;" ><i class="fa-brands fa-github"></i></a>
  </div>
</footer>
