<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #b36a5e;">
  <a class="navbar-brand m-2" href="#">Gather Studio</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <%# <a class="nav-item nav-link" href="#">Home</a> %>
      <a class="nav-item nav-link" href="#">Classes</a>
      <a class="nav-item nav-link" href="#">Open Studio</a>
    </div>
  </div>
  <form class="form-inline">
  <a href="/register">
   <button type="button" class="btn btn-outline-light m-2">Register</button>
   </a>
   <button type="button" class="btn btn-outline-light m-2">Sign In</button>
  </form>
</nav>