<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b36a5e;">
  <a class="navbar-brand" href="#">Gather Studio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%# <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a> %>
      <a class="nav-item nav-link" href="#">Home</a>
      <a class="nav-item nav-link" href="#">Classes</a>
      <a class="nav-item nav-link" href="#">Open Studio</a>
      <%# <a class="nav-item nav-link disabled" href="#">Disabled</a> %>
    </div>
  </div>
  <form class="form-inline">
   <button type="button" class="btn btn-outline-light">Sign Up / Login</button>
  </form>
</nav>