<%= render partial: "shared/header" %>
<%# <script src="https://kit.fontawesome.com/41eea4378c.js" crossorigin="anonymous"></script> %>
<div class="container">
<div class="row">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <%= image_tag "image1.jpg", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "image2.jpg", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "image3.jpg", class: "d-block w-100" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>
  <div class="row top-buffer">
    <div class="col">
    
      <div class="card" style="width: 25rem;">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1474.6959656487122!2d-73.0124988210221!3d40.76601388337402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e849ffa8262e01%3A0xde50f977a87f7195!2sGather%20Studio!5e0!3m2!1sen!2sus!4v1666492365933!5m2!1sen!2sus"  style="border:0; height:17rem;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div class="card-body">
    <h5 class="card-title">Contact</h5>
    <p class="card-text"><b> Address: </b> 83 East Main Street - Suit 5 <br>Patchogue, NY 11772</p> 
    <p> <b>Phone:</b> (631) 654-1351 </p>
    <center>
    <a href="https://www.facebook.com/GatherStudio"><i class="fa fa-brands fa-facebook fa-2xl"></i></a>
    <a href = "mailto: gatherstudio@optimum.net"><i class="fa fa-solid fa-envelope fa-2xl"></i></a>
    <a href="https://www.instagram.com/gather_studio/"><i class="fa fa-brands fa-instagram fa-2xl"></i></i></a>
    </center>
  </div>
</div>
    </div>
    <div class="col">
      Column Two
    </div>
  </div>


